{% macro form_field(field, label_width, field_width) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{field.label.field_id}}"
               class="col-sm-{{label_width}} control-label">
            {{ field.label.text }} {% if field.flags.required %}*{% endif %}
        </label>
        <div class="col-sm-{{field_width}}">
            {{ field(**kwargs) }}
        </div>
    </div>
{%- endmacro %}

{{ form_field(form.permission, 3, 8, class_="form-control") }}
{{ form_field(form.argument, 3, 8, class_="form-control") }}

{{ xsrf_form() }}
