{% macro one_public_key_row(key, username, can_control) -%}
    <td><span class="has-help" data-toggle="popover" data-content="{{ key.created_on|print_date }}">
        {{ key.created_on|long_ago_str }}</span></td>
    <td>{% if key.key_type %}{{ key.key_type }}{% endif %}</td>
    <td>{% if key.key_size %}{{ key.key_size }}{% endif %}</td>
    <td class="hidden-xs">
        <code>{{ key.fingerprint }}</code>
    </td>
    <td>
        <span class="pull-right">
        <button class="btn btn-default btn-xs public-key" key-body="{{ key.public_key|escape }}">
            <i class="fa fa-search"></i>
        </button>
    {% if can_control %}
        <a class="btn btn-default btn-xs" href="/users/{{ username }}/public-key/{{ key.id }}/delete">
            <span class="glyphicon glyphicon-remove" style="vertical-align: -1px"></span>
        </a>
        </span>
    {% endif %}
    </td>
{%- endmacro %}

{% macro public_key_modal() -%}
    <div id="key-modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Public Key</h4>
                </div>
                <div class="modal-body">
                    <code id="key-body">key goes here</code>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro one_user_token_row(token, username, can_control) -%}
    <td>{{ token.name }}</td>
    <td>{{ token.created_at | long_ago_str }}</td>
    <td>
    {% if can_control %}
        <a class="btn btn-default btn-xs pull-right"
           href="/users/{{ username }}/tokens/{{ token.id }}/disable">
            <span class="glyphicon glyphicon-remove" style="vertical-align: -1px"></span>
        </a>
    {% endif %}
    </td>
{%- endmacro %}
{% macro tokens_panel(max_height, user, tokens, can_control=False) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Access Tokens</h3>
        </div>
        <div class="table-responsive" style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-1">Age</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                {% for token in tokens %}
                {% if token.enabled %}
                    <tr>
                        {{ one_user_token_row(token, user.name, can_control) }}
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% if can_control %}
            <div class='panel-footer'>
                <a class="btn btn-default btn-sm" href="/users/{{ user.name }}/tokens/add">
                <span class="glyphicon glyphicon-plus"></span> Create access token
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro shell_panel(max_height, user, shell, can_control=False) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Shell</h3>
        </div>
        <div class="table-responsive" style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">Shell</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ shell }}</td>
                    </tr>
                </tbody>
            </table>
            {% if can_control %}
            <div class='panel-footer'>
                <a class="btn btn-default btn-sm" href="/users/{{ user.name }}/shell">
                <span class="glyphicon glyphicon-pencil"></span> Change Shell
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}


{% macro help_for(subj) -%}
class="has-help"
data-toggle="popover"
title="Grouper Help" data-content="
{% if subj == "role" %}
A 'role' describes someone's ability to control the group. There are three types of roles:
<ul><li><strong>member</strong> has no special power</li>
<li><strong>manager</strong> is allowed to process requests to join the group</li>
<li><strong>owner</strong> has full control of the group</li></ul>
<li><strong>np-owner</strong> has full control of the group but doesn't receive the group's permissions</li></ul>
{% elif subj == "audited_group" %}
One or more of the permissions that apply to this group have auditing
enabled. Membership in this group is regularly reviewed.
{% endif %}
"
{%- endmacro %}

{% macro group_panel(max_height, groups, show_role=False) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Groups</h3>
        </div>
        <div style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2">Name</th>
                        {% if show_role %}
                            <th class="col-sm-2">
                                <span {{ help_for('role') }}>Role</span>
                            </th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for group in groups %}
                    <tr>
                        <td>{{ account(group) }}</td>
                        {% if show_role %}
                            <td class="col-sm-2">{{ROLES[group.role]}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if not groups %}
                    <tr>
                        <td colspan="2" class="text-center"><em>No Groups</em></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{%- endmacro %}

{% macro account(user, type=None) -%}
{% if type == None %}
<a class="account-link" href="/{{ user.type | lower }}s/{{ user.name }}">
    <i class="fa fa-user{% if user.type.lower() == 'group' %}s{% endif %}"></i> 
    {% if user.role_user %}
    <i>
    {% endif %}
    {{ user.name }}
    {% if user.role_user %}
    (service)</i>
    {% endif %}
</a>
{% else %}
<a class="account-link" href="/{{ type | lower }}s/{{ user }}">
    <i class="fa fa-user{% if type.lower() == 'group' %}s{% endif %}"></i> 
    {{ user }}
</a>
{% endif %}
{%- endmacro %}

{% macro permission(perm) -%}
<a class="permission-link" href="/permissions/{{perm.name or perm.permission}}">
    <i class="fa fa-key hidden-xs"></i>
    {{perm.name or perm.permission}}
</a>
{%- endmacro %}

{% macro format_tag(t) -%}
<a class="tag-link" href="/tags/{{t.name}}">
    <i class="fa fa-tag hidden-xs"></i>
    {{t.name}}
</a>
{%- endmacro %}

{% macro format_secret(s) -%}
<a class="secret-link" href="/secrets/{{ s.name }}">
    <i class="fa fa-lock hidden-xs"></i>
    {{ s.name }}
</a>
{%- endmacro %}

{% macro member_row(group, member, members, current_user, current_user_role) -%}
    <tr>
        <td>
            {% if member.name != current_user.name and member.name != group.name and
                (current_user_role['is_approver'] or
                 (current_user_role['is_manager'] and ROLES[member.role] == "member"))
            %}
                <a href="/groups/{{group.name}}/edit/{{member.type|lower}}/{{member.name}}"
                   class="btn btn-default btn-xs">
                    <i class="fa fa-edit"></i>
                </a>

                <button class="btn btn-danger btn-xs"
                        data-toggle="modal"
                        data-target="#removeUserModal"
                        data-member-name="{{member.name}}"
                        data-member-type="{{member.type|lower}}">
                    <i class="fa fa-times"></i>
                </a>
            {% endif %}
        </td>
        <td>
            {{ account(member) }}
        </td>
        <td>{{ ROLES[member.role] }}</td>
        <td>{{ member.expiration|expires_when_str }}</td>
    </tr>
{%- endmacro %}

{% macro member_panel(max_height, group, members, current_user, current_user_role) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Members</h3>
        </div>
        <div style="
            max-height: {{max_height}}px;
            overflow-y: auto;
        ">
            <table class="datatable table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-1"></th>
                        <th class="col-sm-3">Member</th>
                        <th class="col-sm-1"><span {{ help_for('role') }}>Role</span></th>
                        <th class="col-sm-1">Expires</th>
                    </tr>
                </thead>
                <tbody>
                {% for member in members.itervalues()|sort(attribute='name') if member.type == 'Group' %}
                    {{ member_row(group, member, members, current_user, current_user_role) }}
                {% endfor %}
                {% for member in members.itervalues()|sort(attribute='name') if member.type == 'User' %}
                    {{ member_row(group, member, members, current_user, current_user_role) }}
                {% endfor %}
                {% if not members %}
                    <tr>
                        <td colspan="4" class="text-center"><em>No Members</em></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{%- endmacro %}

{% macro log_entry_panel(max_height, log_entries) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Recent Activity</h3>
        </div>
        <div style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2">Date</th>
                        <th class="col-sm-2">Actor</th>
                        <th class="col-sm-2">Action</th>
                        <th class="col-sm-2">Description</th>
                        <th class="col-sm-2">Extra</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in log_entries %}
                    <tr>
                        <td class="col-sm-2">{{ entry.log_time|print_date }}</td>
                        <td class="col-sm-2">
                            {{ account(entry.actor) }}
                        </td>
                        <td class="col-sm-2">{{ entry.action }}</td>
                        <td class="col-sm-2">{{ entry.description|escape }}</td>
                        <td class="col-sm-2">
                            {% if entry.on_tag %}
                                Tag: {{ format_tag(entry.on_tag) }}<br />
                            {% endif %}
                            {% if entry.on_group %}
                                Group: {{ account(entry.on_group) }}<br />
                            {% endif %}
                            {% if entry.on_permission %}
                                Permission: {{ permission(entry.on_permission) }}<br />
                            {% endif %}
                            {% if entry.on_user %}
                                User: {{ account(entry.on_user) }}<br />
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                {% if not log_entries %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <em>No activity found.</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{%- endmacro %}

{% macro permission_panel(max_height, mappings, group=None, can_grant=None, is_member=None, pending_requests=None, is_owner=False) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Permissions</h3>
        </div>
        <div style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="{% if mappings %}datatable {% endif %}table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2">Permission</th>
                        <th class="col-sm-2">Argument</th>
                        <th class="col-sm-2">From Group</th>
                        <th class="col-sm-2">Granted</th>
                        {% if can_grant or is_owner %}
                            <th class="col-sm-2"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for map in mappings %}
                    <tr>
                        <td>{{ permission(map) }}</td>
                        <td class="col-sm-2">{{ map.argument|default("(unargumented)", True)|escape }}</td>
                        <td class="col-sm-2">
                        {% if map.distance == 0 %}
                            (direct)
                        {% else %}
                            {{ account(map.path[-1], type='group') }}
                        {% endif %}
                        </td>
                        <td class="col-sm-2" title="{{ map.granted_on|print_date }}">
                            {{ map.granted_on|long_ago_str }}
                        </td>
                        {% if is_owner %}
                            <td class="col-sm-2">
                            {% if map.distance == 0 %}
                                <a class="btn btn-default btn-xs" href="/permissions/{{ map.permission }}/revoke/{{ map.mapping_id }}">
                                <span class="glyphicon glyphicon-remove" style="vertical-align: -1px"></span> Revoke
                                </a>
                            {% endif %}
                            </td>
                        {% endif %}
                        {% if not is_owner and can_grant %}
                            <td class="col-sm-2">
                            {% if map.distance == 0 %}
                            {% for grantable in can_grant if grantable[0].name == map.permission %}
                                {% if loop.first %}
                                    <a class="btn btn-default btn-xs" href="/permissions/{{ map.permission }}/revoke/{{ map.mapping_id }}">
                                    <span class="glyphicon glyphicon-remove" style="vertical-align: -1px"></span> Revoke
                                    </a>
                                {% endif %}
                            {% endfor %}
                            {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if not mappings and not pending_requests %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <em>No permissions found.</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
                {% if pending_requests %}
                <tbody>
                {% for request in pending_requests %}
                    <tr>
                        <td>
                            <i class="text-muted fa fa-question-circle hidden-xs" title="pending"></i>
                            <i class="text-muted">{{ request[0].permission.name }}</i>
                        </td>
                        <td><i class="text-muted">{{ request[0].argument }}</i></td>
                        <td><i class="text-muted">{{ ", ".join(request[1]) }}</i></td>
                        <td><i class="text-muted">--</i></td>
                        <td>&nbsp;</td>
                    </tr>
                {% endfor %}
                </tbody>
                {% endif %}
            </table>
        </div>
        {% if group and (can_grant or is_member) %}
        <div class='panel-footer'>
            {% if can_grant %}
            <a class="btn btn-default btn-sm" href="/permissions/grant/{{ group.name }}">
                <span class="glyphicon glyphicon-plus"></span> Add Permission
            </a>
            {% endif %}
            {% if is_member%}
            <a class="btn btn-default btn-sm" href="/groups/{{ group.name }}/permission/request">
                <span class="glyphicon glyphicon-plus"></span> Request Permission
            </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro dropdown(key, current, values, allow_none=False) -%}
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {% if current %}
                {{key|title}}: {{current}}
            {% else %}
                {{key|title}}
            {% endif %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        {% if allow_none %}
            <li><a href="{{ update_qs(**{key: []}) }}">(show all)</a></li>
        {% endif %}
        {% for value in values %}
            <li><a href="{{ update_qs(**{key: value}) }}">{{value}}</a></li>
        {% endfor %}
        </ul>
    </div>
{%- endmacro %}


{% macro paginator(offset, limit, total) -%}
    <div class="btn-group" style="padding-right: 10px;">
        {% set pages = (total/limit)|round(method='ceil')|int %}
        {% if offset == 0 %}
            <a class="btn btn-default disabled"><i class="fa fa-angle-double-left"></i></a>
        {% else %}
            <a class="btn btn-default" href="{{ update_qs(offset=0) }}"><i class="fa fa-angle-double-left"></i></a>
        {% endif %}

        {% if offset != 0 %}
            <a class="btn btn-default" href="{{ update_qs(offset=offset-limit) }}"><i class="fa fa-angle-left"></i></a>
        {% else %}
            <a class="btn btn-default disabled"><i class="fa fa-angle-left"></i></a>
        {% endif %}

        <a class="btn btn-default disabled">Page {{ ((offset+limit)/limit)|int}} of {{ pages }}</a>

        {% if offset + limit < total %}
            <a class="btn btn-default" href="{{ update_qs(offset=offset+limit) }}"><i class="fa fa-angle-right"></i></a>
        {% else %}
            <a class="btn btn-default disabled"><i class="fa fa-angle-right"></i></a>
        {% endif %}

        {% if offset + limit < total %}
            <a class="btn btn-default" href="{{ update_qs(offset=(pages-1)*limit) }}"><i class="fa fa-angle-double-right"></i></a>
        {% else %}
            <a class="btn btn-default disabled"><i class="fa fa-angle-double-right"></i></a>
        {% endif %}
    </div>
{%- endmacro %}

{% macro tag_permission_panel(max_height, mappings, tag, can_grant=None) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Permissions</h3>
        </div>
        <div style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="{% if mappings %}datatable {% endif %}table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2">Permission</th>
                        <th class="col-sm-2">Argument</th>
                        <th class="col-sm-2">Granted</th>
                        {% if can_grant %}
                            <th class="col-sm-2"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for map in mappings %}
                    <tr>
                        <td>{{ permission(map) }}</td>
                        <td class="col-sm-2">{{ map.argument|default("(unargumented)", True)|escape }}</td>
                        <td class="col-sm-2" title="{{ map.granted_on|print_date }}">
                            {{ map.granted_on|long_ago_str }}
                        </td>
                        {% if can_grant %}
                            <td class="col-sm-2">
                            {% for grantable in can_grant if grantable.name == map.name %}
                                {% if loop.first %}
                                    <a class="btn btn-default btn-xs" href="/permissions/{{ map.name }}/revoke_tag/{{ map.mapping_id }}">
                                    <span class="glyphicon glyphicon-remove" style="vertical-align: -1px"></span> Revoke
                                    </a>
                                {% endif %}
                            {% endfor %}
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if not mappings and not pending_requests %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <em>No permissions found.</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        {% if can_grant %}
        <div class='panel-footer'>
            <a class="btn btn-default btn-sm" href="/permissions/grant_tag/{{ tag.name }}">
                <span class="glyphicon glyphicon-plus"></span> Add Permission
            </a>
        </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro form_field(field, label_width, field_width) -%}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        <label for="{{field.label.field_id}}"
               class="col-sm-{{label_width}} control-label">
            {{ field.label.text }} {% if field.flags.required %}*{% endif %}
        </label>
        <div class="col-sm-{{field_width}}">
            {{ field(**kwargs) }}
        </div>
    </div>
{%- endmacro %}

{% macro one_user_password_row(password, username, can_control) -%}
    <td>{{ password.name }}</td>
    <td>{{ password.created_at | long_ago_str }}</td>
    <td>
    {% if can_control %}
        <a class="btn btn-default btn-xs pull-right"
           href="/users/{{ username }}/passwords/{{ password.id }}/delete">
            <span class="glyphicon glyphicon-remove" style="vertical-align: -1px"></span>
        </a>
    {% endif %}
    </td>
{%- endmacro %}

{% macro passwords_panel(max_height, user, passwords, can_control=False) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Passwords</h3>
        </div>
        <div class="table-responsive" style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-md-2">Name</th>
                        <th class="col-md-1">Age</th>
                        <th class="col-md-1"></th>
                    </tr>
                </thead>
                <tbody>
                {% for password in passwords %}
                {% if password.enabled %}
                    <tr>
                        {{ one_user_password_row(password, user.name, can_control) }}
                    </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            {% if can_control %}
            <div class='panel-footer'>
                <a class="btn btn-default btn-sm" href="/users/{{ user.name }}/passwords/add">
                <span class="glyphicon glyphicon-plus"></span> Create Password
                </a>
            </div>
            {% endif %}
        </div>
    </div>
{%- endmacro %}

{% macro http_verb(verb) -%}
    <input type="hidden" name="HTTP_VERB" value="{{ verb }}">
{%- endmacro %}
