language: python
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libssl-dev
  chrome: stable
services:
  - mysql
env:
  - DB=sqlite
  - DB=mysql
python:
  - 3.7
cache:
  directories:
    - $HOME/.cache/pip
install: ci/setup.sh
script: ci/test.sh
