{% extends "base.html" %}

{% block subtitle %} edit member of {{group.groupname}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Edit Member {{member.name}} in 
    <a href="/groups/{{group.groupname}}">{{group.groupname}}</a>
{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Member</h3>
       </div>
        <div class="panel-body">
            <form class="edit-member-form form-horizontal" role="form"
                  method="post" action="/groups/{{group.name}}/edit/{{member.type|lower}}/{{member.name}}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Member
                    </label>
                    <div class="col-sm-8 control-label text-left">
                        {{ member.name }}
                    </div>
                </div>
                {% include "forms/group-edit-member.html" %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>


{% endblock %}
