{% extends "base.html" %}

{% block subtitle %} edit {{group.groupname}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Edit ({{group.groupname}})
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Group</h3>
       </div>
        <div class="panel-body">
            <form id="edit-form" class="form-horizontal" role="form"
                  method="post" action="/groups/{{group.name}}/edit">
                {% include "forms/group.html" %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
