{% extends "base.html" %}
{% from 'macros/ui.html' import paginator, dropdown with context %}

{% block subtitle %} requests for {{group.groupname}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Requests (<a href="/groups/{{group.groupname}}">{{group.groupname}}</a>)
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("status", status, statuses, True) }}
    {{ dropdown("limit", limit, [100, 250, 500]) }}
    {{ paginator(offset, limit, total) }}
{% endblock %}


{% block content %}
    <div class="row"><div class="col-sm-10 col-sm-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    {% if current_user_role['is_approver'] %}
                        <th class="col-sm-1">Modify</th>
                    {% endif %}
                    <th class="col-sm-2">Requested</th>
                    <th class="col-sm-2">Requester</th>
                    <th class="col-sm-2">Status</th>
                    <th class="col-sm-2">Requested At</th>
                    <th class="col-sm-2">Expiration</th>
                </tr>
            </thead>
            {% for request in requests %}
                <tbody class="group-request-row">
                    <tr>
                        {% if current_user_role['is_approver'] %}
                            <td>
                                <a href="/groups/{{group.groupname}}/requests/{{request.id}}"
                                   class="btn btn-default btn-xs">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                        {% endif %}
                        <td class="request-requested">
                            {{ TYPES[request.type] }}: {{ request.requesting }}
                        </td>
                        <td class="request-requester">{{ request.requester }}</td>
                        <td class="request-status">{{ request.status }}</td>
                        <td class="request-requested-at">{{ request.requested_at|print_date }}</td>
                        <td class="request-expiration">{{ request.changes['expiration'] }}</td>
                    </tr>
                    <tr>
                        {% if current_user_role['is_approver'] %}
                            <td>&nbsp;</td>
                        {% endif %}
                        <td colspan="5">
                            <div class="pad-left">
                                <strong>Role:</strong>
                                <span class="request-role">{{ ROLES[request.role] }}</span>
                                <br/>
                                <strong>Reason:</strong>
                                <em class="request-reason">{{ request.reason }}</em>
                            </div>
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div></div>
{% endblock %}
