{% extends "base.html" %}

{% block subtitle %} add member to {{group.name}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Add Member to (<a href="/groups/{{group.name}}">{{group.name}}</a>)
{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Member to Group</h3>
       </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form"
                  method="post" action="/groups/{{group.name}}/add">
                {% include "forms/group-add.html" %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
