{% extends "base.html" %}

{% block subtitle %} leave {{group.name}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Leave (<a href="/groups/{{group.name}}">{{group.name}}</a>)
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Leave {{ group.name }}</h3>
       </div>
        <div class="panel-body">
            <form id="leave-group-form" class="form-horizontal" role="form"
                  method="post" action="/groups/{{ group.name }}/leave">
                <div class="col-sm-12">
                    <p>If you proceed, you will immediately leave this group. Your account will lose
                    access to any permissions you had via this group (or any of its parent groups).</p>
                </div>
                {{ xsrf_form()|safe }}
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Leave {{ group.name }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
