{% extends "base.html" %}
{% from 'macros/ui.html' import parent_group_panel, member_panel_2, group_permissions_panel, audit_log_panel,
                                help_for, account, service_account_panel_2, group_member_audit_status %}

{% block subtitle %} group {{group_details.name}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    {{group_details.name}} {% if not group_details.enabled %}<small>(disabled)</small>{% endif %}
    {% if group_details.has_pending_audit %}
        <span class="label label-danger">AUDIT IN PROGRESS</span>
    {% endif %}
    {% if group_details.email_address %}
        <a href="mailto:{{ group_details.email_address }}">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <span class="sr-only">Send email</span>
        </a>
    {% endif %}
{% endblock %}

{% block headingbuttons %}
    <!-- Enable/Disable button. -->
    {% if access.can_change_enabled_status %}
        {% if group_details.enabled %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#disableModal">
                <i class="fa fa-minus"></i> Disable
            </button>
        {% else %}
            <button class="btn btn-warning" data-toggle="modal" data-target="#enableModal">
                <i class="fa fa-plus"></i> Enable
            </button>
        {% endif %}
    {% endif %}

    <!-- Approve members. -->
    <div class="btn-group">
        <a href="/groups/{{group_details.name}}/requests"
           class="btn btn-default"><i class="fa fa-list"></i> Requests</a>
        {% if access.can_approve_join_requests and num_pending_join_requests %}
            <a href="/groups/{{group_details.name}}/requests?status=pending"
               title="Pending Requests"
               class="btn btn-default btn-pending">{{ num_pending_join_requests }}</a>
        {% endif %}
    </div>

    <!-- Show the join button if the user isn't an approver (since they can directly add)
         and the group isn't invite-only. -->
    {% if not access.can_approve_join_requests and group_details.join_policy != "nobody" %}
    <a href="/groups/{{group_details.name}}/join"
       class="btn btn-success"><i class="fa fa-user"></i> Join</a>
    {% endif %}

    <!-- Add member or edit group -->
    {% if access.can_add_members %}
        <a href="/groups/{{group_details.name}}/add"
           class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Member</a>
    {% endif %}
    {% if access.can_edit_group %}
        <a href="/groups/{{group_details.name}}/edit"
           class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
    {% endif %}

    {% if access.can_leave %}
        <a href="/groups/{{group_details.name}}/leave"
           class="btn btn-danger"><i class="fa fa-sign-out"></i> Leave</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <blockquote><p>
            <em>{{group_details.description|default("", True)}}</em>
        </p></blockquote>
    </div>
    <div class="col-md-6">
        <h4>
            {% if group_details.is_audited %}
                <span class="label label-warning pull-right">
                    <i class="fa fa-gavel"></i> {{ help_for("audited_group", "Auditing Enabled") }}
                </span>
            {% endif %}
            {% if group_details.join_policy == "canjoin" %}
                <span class="label label-success pull-right">
                    <i class="fa fa-group"></i> Open Membership
                </span>
            {% else %}
                <span class="label label-info pull-right">
                    <i class="fa fa-group"></i> Requires Approval
                </span>
            {% endif %}
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        {{ member_panel_2(group_details, group_details.members_infos, current_user, access) }}
    </div>
    <div class="col-md-5">
        {{ parent_group_panel(group_details.parent_groups) }}
        {{ service_account_panel_2(group_details.name, group_details.service_account_names, access.can_manage_service_accounts) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ group_permissions_panel(group_details, access, viewer_can_manage_some_permission_grants) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ audit_log_panel(audit_log_entries) }}
    </div>
</div>

<div class="modal fade" id="enableModal" tabindex="-1" role="dialog"
      aria-labelledby="enableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enable Group</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to Enable this group?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/groups/{{group_details.id}}/enable" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Enable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disableModal" tabindex="-1" role="dialog"
      aria-labelledby="disableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable Group</h4>
           </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to Disable this group? Only an Admin will
                    be able to re-enable.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/groups/{{group_details.id}}/disable" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog" data-group-id="{{ group_details.id }}"
      aria-labelledby="removeUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Remove User</h4>
           </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to remove <span class="member-name"></span> from {{group_details.name}}?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form class="remove-member-form"
                      {# action is set dynamically in on("show.bs.modal") #}
                      action="#" method="post"
                      class="inline">
                    <input type="hidden" name="member" />
                    <input type="hidden" name="member_type" />
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if group_details.is_audited and group_details.has_pending_audit %}

<div class="modal fade" id="auditModal" tabindex="-1" role="dialog"
      aria-labelledby="auditModal" aria-hidden="true" data-show="{{ "true" if group_details.is_audited and group_details.has_pending_audit and access.can_complete_audit else "false" }}">
    <div class="modal-dialog">
        <form action="/audits/{{ pending_audit_details.id }}/complete" method="post"
              class="inline">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Audit Group</h4>
            </div>
            <div class="modal-body">
                <p>
                    Your group has an outstanding audit that needs to be completed before
                    <strong>{{ pending_audit_details.ends_at|print_date }}</strong>, giving you
                    {{ pending_audit_details.ends_at|expires_when_str }} to complete the audit.
                </p>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-4">Member</th>
                            <th class="col-sm-2">role</th>
                            <th class="col-sm-2">Audit Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ami in pending_audit_details.audit_members_infos %}
                        <tr class="audit-member-row">
                            <td class="audit-member-name">{{ account(ami.member_name, type=ami.member_type) }}</td>
                            <td class="audit-member-role">{{ ami.membership_role }}</td>
                            <td class="audit-member-status">{{ group_member_audit_status(current_user, ami, audit_statuses) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Complete Audit</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
