{% extends "base.html" %}
{% from 'macros/ui.html' import account, paginator, dropdown with context %}

{% block subtitle %} groups{% endblock %}

{% block heading %}
    {% if audited_groups %}
      Audited
    {% endif %}
    {% if not enabled %}
      Disabled
    {% endif %}
    Groups
{% endblock %}

{% block subheading %}
    {{total}} group(s)
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", limit, [100, 250, 500]) }}
    {{ paginator(offset, limit, total) }}
    {% if enabled %}
      {% if audited_groups %}
      <a class="btn btn-warning" href="/groups?limit={{limit}}">
          <i class="fa"></i> Show all groups
      </a>
      {% else %}
      <button class="btn btn-success" id="create-group" data-toggle="modal"
              data-target="#createModal">
          <i class="fa fa-plus"></i> Create
      </button>
      <a id="show-audited" class="btn btn-warning" href="/groups?limit={{limit}}&audited=1">
          <i class="fa"></i> Show audited groups
      </a>
      {% endif %}
      <a class="btn btn-default" href="/groups?limit={{limit}}&enabled=0">
          <i class="fa"></i> Show disabled groups
      </a>
    {% else %}
      <a class="btn btn-default" href="/groups?limit={{limit}}&enabled=1">
          <i class="fa"></i> Show enabled groups
      </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2">Group name</th>
                    <th class="col-sm-4">Description</th>
                    <th class="col-sm-1">Can join?</th>
		    {% if audited_groups %}
		    <th class="col-sm-1">Why audited?</th>
		    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr class="group-row">
                    <td class="group-name">{{ account(group.name, "group") }}</td>
                    <td class="group-description">{{group.description|default("", True)}}</td>
                    <td class="group-can-join">
                        {% if group.join_policy.name == "CAN_JOIN" %}
                            Anyone
                        {% elif group.join_policy.name == "CAN_ASK" %}
                            Must Ask
                        {% else %}
                            Nobody
                        {% endif %}
                    </td>
		    {% if audited_groups %}
		    <td class="group-why-audited">
		      {% if group.name in directly_audited_groups %}
		      Direct
		      {% else %}
		      Inherited
		      {% endif %}
		    </td>
		    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog"
      aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Create Group</h4>
           </div>
            <div class="modal-body">
                <form id="createForm" class="form-horizontal" role="form"
                      method="post" action="/groups">
                    {% include "forms/group.html" %}
            </div>
            <div class="modal-footer">
                <button id="formSubmit" type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}
