{% extends "base.html" %}

{% from 'macros/ui.html' import form_field %}

{% block subtitle %} join {{group.name}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Join (<a href="/groups/{{group.name}}">{{group.name}}</a>)
{% endblock %}

{% block content %}

{% if form.member.choices %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Join Group</h3>
           </div>
            <div class="panel-body">
                {% if user_is_member %}
                <div class="alert alert-warning">
                    You are either already a member of this group or have a pending membership
                    request. You can also request membership on behalf of a group in order to nest
                    a group inside another, but be sure this is what you intended to do. (It
                    usually is not.)
                </div>
                {% endif %}
                {% if audited %}
                <div class="alert alert-warning">
                    <strong>Membership in this group is audited.</strong> Your access to this
                    group will be regularly reviewed according to the production access policy.
                </div>
                {% endif %}
                <form id="submitOnce" class="form-horizontal join-group-form" role="form"
                      method="post" action="/groups/{{group.name}}/join">
                    {% include "forms/group-join.html" %}
                    {% if group.require_clickthru_tojoin %}
                    <input class="clickthru-checkbox" type="checkbox" name="clickthru_agreement"/>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-4">
                            {% if group.require_clickthru_tojoin %}
                            <button id="join-btn" class="btn btn-primary" data-toggle="modal"
                                    data-target="#clickthruModal" type="button">
                                Submit
                            </button>
                            {% else %}
                            <button id="join-btn" type="submit" class="btn btn-primary">
                                Submit
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-danger" role="alert">
            You and all groups you are a manager/owner/np-owner of are either already members of
            the <em>{{group.name}}</em> group or have pending requests to join. You can modify
            memberships from the member list <a href="/groups/{{group.name}}">here</a>.
        </div>
    </div>
{% endif %}

<div class="modal fade" id="clickthruModal" tabindex="-1" role="dialog"
      aria-labelledby="clickthruModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Join Group Agreement</h4>
           </div>
            <div class="modal-body">
                <div>
                    Your membership request is predicated on you reading and
                    acknowledging the group's description:
                </div>
                <div class="jumbotron">
                    {{ group.description }}
                </div>
            <div class="modal-footer">
                <button id="agree-clickthru-btn" type="submit" class="btn btn-primary">
                    Agree
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
