{% extends "base.html" %}

{% block heading %}
    Help
{% endblock %}

{% block subheading %}
    Frequently Asked Questions
{% endblock %}

{% block content %}

<h3>What is Grouper?</h3>
<p>This is a group membership and permission management platform. In other words, we are an
authorization service you can use to answer such questions as: who's in what groups, and what
permissions do they have?</p>

<p>There haven't been many frequently asked questions yet, so this hasn't been filled out
yet! Please see the admins of this site for help and links to any documentation that they
might have already filled out.</p>

{% endblock %}
