{% extends "base.html" %}

{% block subtitle %} act on requests for {{current_user.name}}{% endblock %}

{% block heading %}
    Permission Requests
{% endblock %}

{% block subheading %}
    Edit/Action Requests (<a href="/users/{{ current_user.name }}">{{ current_user.name }}</a>)
{% endblock %}

{% block content %}
<div class="row"><div class="col-md-10 col-md-offset-1">
    <hr>
    <table class="table table-elist">
        <thead>
            <tr>
                <th class="col-sm-2">Change By</th>
                <th class="col-sm-2">From Status</th>
                <th class="col-sm-2">To Status</th>
                <th class="col-sm-2">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for change_status, comment in change_comment_list %}
                <tr>
                    <td>
                        <a href="/users/{{ change_status.user.name }}">
                            {{ change_status.user.name }}
                        </a>
                    </td>
                    <td>{{ change_status.from_status|default("", True) }}</td>
                    <td>{{ change_status.to_status }}</td>
                    <td>{{ change_status.change_at|print_date }}</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <dl class="dl-horizontal" class="no-margin-bottom">
                            <dt>Group:</dt>
                            <dd>
                                <a href="/groups/{{ request.group.name }}">
                                    {{ request.group.name }}
                                </a>
                            </dd>
                            <dt>Permission:<dt>
                            <dd>
                                <a href="/permissions/{{ request.permission.name }}">
                                    {{ request.permission.name }}
                                </a>
                            </dd>
                            <dt>Argument:</dt><dd>{{ request.argument|default("(unargumented)", True) }}</dd>
                            <dt>Reason:</dt><dd>{{ comment.comment }}</dd>
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div></div>

<div class="col-md-6 col-md-offset-3">

    {% if statuses[request.status] %}
        {% if can_approve_request  %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Update Request</h3>
               </div>
                <div class="panel-body">
                    <form id="update-form" class="form-horizontal" role="form"
                          method="post" action="/permissions/requests/{{request.id}}">
                        {% include "forms/permission-request-update.html" %}
                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        {% else %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Waiting for approval</h3>
               </div>
                <div class="panel-body">
                    This request is pending approval from one of the following groups:
                    <ul>
                        {% for approver in approvers %}
                            <li><a href="/groups/{{ approver }}">{{ approver }}</a></li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        {% endif %}
    {% endif %}


</div>

{% endblock %}
