{% extends "base.html" %}
{% from 'macros/ui.html' import log_entry_panel, paginator, dropdown with context %}

{% block heading %}
    Permissions
{% endblock %}

{% block subheading %}
    {{ permission.name }}
{% endblock %}

{% block headingbuttons %}
    {% if permission.enabled and can_disable %}
        <button class="btn btn-danger disable-permission" data-toggle="modal" data-target="#disablePermModal">
            <i class="fa fa-minus"></i> Disable Permission
        </button>
    {% endif %}
    {% if permission.enabled and can_change_audit_status %}
        {% if permission.audited %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#disableAuditingModal">
                <i class="fa fa-minus"></i> Disable Auditing
            </button>
        {% else %}
            <button class="btn btn-warning" data-toggle="modal" data-target="#enableAuditingModal">
                <i class="fa fa-plus"></i> Enable Auditing
            </button>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
{% if permission.description %}
    <p>
        <b>Description:</b> “{{ permission.description | escape }}”
    </p>
{% endif %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {% if not permission.enabled %}
            <div class="alert alert-warning">
                <strong>This permission is disabled.</strong> It continues to exist for the record but otherwise has no effect.
            </div>
        {% else %}
            {% if permission.audited %}
                <div class="alert alert-warning">
                    <strong>This is an audited permission.</strong> Any group this permission is applied
                    to will become audited.
                </div>
            {% endif %}

            <table class="table table-elist">
                <thead>
                    <tr>
                        <th class="col-sm-2">Group</th>
                        <th class="col-sm-5">Argument</th>
                    </tr>
                </thead>
                <tbody>
                {% for mapped_group in mapped_groups %}
                    <tr>
                        <td><a href="/groups/{{mapped_group.groupname}}">{{mapped_group.groupname}}</a></td>
                        <td>{{mapped_group.argument|default("(unargumented)", True)}}</td>
                    </tr>
                {% endfor %}
                {% if not mapped_groups %}
                    <tr>
                        <td colspan="2" class="text-center"><em>This permission is not mapped to any
                        groups. To grant this permission to a group, visit the group page.</em></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {{ log_entry_panel(log_entries) }}
    </div>
</div>

<div class="modal fade" id="enableAuditingModal" tabindex="-1" role="dialog"
      aria-labelledby="enableAuditingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enable Auditing</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to enable auditing for this permission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/permissions/{{permission.name}}/enable-auditing" method="post"
                      class="inline">
                    {{ xsrf_form() }}
                    <button type="submit" class="btn btn-primary">Enable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disableAuditingModal" tabindex="-1" role="dialog"
      aria-labelledby="disableAuditingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable Auditing</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable auditing for this permission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/permissions/{{permission.name}}/disable-auditing" method="post"
                      class="inline">
                    {{ xsrf_form() }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disablePermModal" tabindex="-1" role="dialog"
      aria-labelledby="disablePermModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable Permission</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable this permission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/permissions/{{permission.name}}/disable" method="post"
                      class="inline">
                    {{ xsrf_form() }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
