{% extends "base.html" %}
{% from 'macros/ui.html' import permission_link, paginator, dropdown with context %}

{% block subtitle %}
    {% if audited_permissions %}
      audited
    {% endif %}
    permissions
{% endblock %}

{% block heading %}
    {% if audited_permissions %}
      Audited
    {% endif %}
    Permissions
{% endblock %}

{% block subheading %}
    {{total}} permission(s)
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", limit, [100, 250, 500]) }}
    {{ paginator(offset, limit, total) }}
    {% if audited_permissions %}
    <a id="show-all" class="btn btn-warning" href="{{update_qs(audited='0', offset='0')}}">
        <i class="fa"></i> Show all permissions
    </a>
    {% else %}
    {% if can_create %}
    <a id="create-permission" class="btn btn-success" href="/permissions/create">
        <i class="fa fa-plus"></i> Create
    </a>
    {% endif %}
    <a id="show-audited" class="btn btn-warning" href="{{update_qs(audited='1', offset='0')}}">
        <i class="fa"></i> Show audited permissions only
    </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2"><a href="{{update_qs(sort_by='name', order='desc' if sort_key == 'name' and sort_dir == 'asc' else 'asc', offset='0')}}" class="white">Name</a></th>
                    <th class="col-sm-5">Description</th>
                    <th class="col-sm-2 col-date"><a href="{{update_qs(sort_by='date', order='asc' if sort_key == 'date' and sort_dir == 'desc' else 'desc', offset='0')}}" class="white">Created On</a></th>
                </tr>
            </thead>
            <tbody>
            {% for perm in permissions %}
                <tr class="permission-row">
                    <td class="permission-name">{{ permission_link(perm) }}</td>
                    <td class="permission-description">{{ perm.description|default("", True) }}</td>
                    <td class="permission-created-on">{{ perm.created_on | print_date}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
