{% extends "base.html" %}
{% from 'macros/ui.html' import audit_log_panel %}

{% block subtitle %} permission {{ permission.name }}{% endblock %}

{% block heading %}
    Permissions
{% endblock %}

{% block subheading %}
    {{ permission.name }}
{% endblock %}

{% block headingbuttons %}
    {% if permission.enabled and access.can_disable %}
        <button class="btn btn-danger disable-permission" data-toggle="modal" data-target="#disablePermModal">
            <i class="fa fa-minus"></i> Disable Permission
        </button>
    {% endif %}
    {% if permission.enabled and access.can_change_audited_status %}
        {% if permission.audited %}
            <button class="btn btn-danger disable-auditing" data-toggle="modal" data-target="#disableAuditingModal">
                <i class="fa fa-minus"></i> Disable Auditing
            </button>
        {% else %}
            <button class="btn btn-warning enable-auditing" data-toggle="modal" data-target="#enableAuditingModal">
                <i class="fa fa-plus"></i> Enable Auditing
            </button>
        {% endif %}
    {% endif %}
    <a class="btn btn-warning" href="/permissions/request?permission={{ permission.name }}">
        <i class="fa fa-plus"></i> Request this permission
    </a>
{% endblock %}

{% block content %}
{% if permission.description %}
    <p>
        <b>Description:</b>
        “<span class="permission-description">{{ permission.description }}</span>”
    </p>
{% endif %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {% if not permission.enabled %}
            <div class="alert alert-warning disabled-warning">
                <strong>This permission is disabled.</strong> It continues to exist for the record but otherwise has no effect.
            </div>
        {% else %}
            {% if permission.audited %}
                <div class="alert alert-warning audited-warning">
                    <strong>This is an audited permission.</strong> Any group this permission is applied
                    to will become audited.
                </div>
            {% endif %}

            <table class="table table-elist">
                <thead>
                    <tr>
                        <th class="col-sm-2">Permission Grants</th>
                    </tr>
                </thead>
                <tbody>

                <tr class="permission-grant-row">
                    <td class="grant-group">
                        <a href="{{transfer_qs('/permissions/', permission.name, '/groups')}}">Grants to Groups</a>
                    </td>
                </tr>

                <tr class="permission-grant-row">
                    <td class="grant-group">
                        <a href="{{transfer_qs('/permissions/', permission.name, '/service_accounts')}}">Grants to Service Accounts</a>
                    </td>
                </tr>

            </table>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {{ audit_log_panel(audit_log_entries) }}
    </div>
</div>

<div class="modal fade" id="enableAuditingModal" tabindex="-1" role="dialog"
      aria-labelledby="enableAuditingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enable Auditing</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to enable auditing for this permission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/permissions/{{permission.name}}/enable-auditing" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Enable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disableAuditingModal" tabindex="-1" role="dialog"
      aria-labelledby="disableAuditingModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable Auditing</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable auditing for this permission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/permissions/{{permission.name}}/disable-auditing" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disablePermModal" tabindex="-1" role="dialog"
      aria-labelledby="disablePermModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable Permission</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable this permission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/permissions/{{permission.name}}/disable" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
