{% extends "base.html" %}
{% from 'macros/ui.html' import paginator, dropdown with context %}

{% block subtitle %} requests for {{ current_user.name }}{% endblock %}

{% block heading %}
    Permission Requests
{% endblock %}

{% block subheading %}
    Requests (<a href="/users/{{ current_user.name }}">{{ current_user.name }}</a>)
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("status", form.status.data, statuses, allow_none=True) }}
    {{ dropdown("direction", form.direction.data, ["Waiting my approval", "Requested by me"]) }}
    {{ dropdown("limit", form.limit.data, [100, 250, 500]) }}
    {{ paginator(form.offset.data, form.limit.data, total) }}
{% endblock %}


{% block content %}
    <div class="row"><div class="col-sm-10 col-sm-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-1">Modify</th>
                    <th class="col-sm-2">Requested</th>
		    <th class="col-sm-2">Approvers</th>
                    <th class="col-sm-2">Status</th>
                    <th class="col-sm-2">Requested At</th>
                </tr>
            </thead>
            <tbody>
                {% if not request_tuple or not request_tuple.requests %}
                <tr>
                    <td colspan="5" class="text-center request-dne">no requests fit the criteria</td>
                </tr>
                {% endif %}
                {% for request in request_tuple.requests %}
                <tr class="request-row">
                    <td class="request-modify">
                        <a href="/permissions/requests/{{ request.id }}"
                           class="btn btn-default btn-xs">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                    <td class="request-requested">
                        <a href="/permissions/{{ request.permission.name }}">{{ request.permission.name }}</a>,
                        {{ request.argument }}
                    </td>
		    <td class="request-approvers">
                        {% for granter in granters[request.permission.name][request.argument] %}
                            <a href="/groups/{{ granter }}">
                                {{ granter }}{% if not loop.last %},{% endif %}
                            </a>
                        {% endfor %}
		    </td>
                    <td class="request-status">{{ request.status }}</td>
                    <td class="request-requested-at">{{ request.requested_at | print_date }}</td>
                </tr>
                {% for status_change in request_tuple.status_change_by_request_id[request.id] %}
                {% set comment = request_tuple.comment_by_status_change_id[status_change.id] %}
                <tr class="active request-status-change-row">
                    <td>&nbsp;</td>
                    <td colspan="4">
                        <dl class="dl-horizontal no-margin-bottom">
                            <dt>Group:</dt>
			    <dd class="request-group">
                                <a href="/groups/{{ request.group.name }}">
                                    {{ request.group.name }}
                                </a>
                            </dd>
                            <dt>Who:</dt>
                            <dd class="request-who">
                                <a href="/users/{{ status_change.user.name }}">
                                    {{ status_change.user.name }}
                                </a>
                                ({{ status_change.change_at|long_ago_str }})
                            </dd>
                            <dt>Reason:</dt>
			    <dd class="request-reason">{{ comment.comment }}</dd>
                        </dl>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div></div>
{% endblock %}
