{% extends "base.html" %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    Add Public Key
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Public Key</h3>
       </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form"
                  method="post" action="/users/{{user.name}}/public-key/add">
                {% include "forms/public-key.html" %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Add Key</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
