{% extends "base.html" %}

{% from 'macros/ui.html' import group_panel, member_panel, permission_panel, log_entry_panel,
                                help_for, account, shell_panel, tokens_panel, passwords_panel,
                                public_key_panel, group_member_audit_status %}

{% from 'macros/ui.html' import public_key_modal with context %}

{% block subtitle %} service accounts{% endblock %}

{% block heading %}
    <a href="/service">Service Accounts</a>
{% endblock %}

{% block subheading %}
    {{ user.username }}
    {% if user.role_user %}<small>(service)</small>{% endif %}
    {% if not user.enabled %}<small>(disabled)</small>{% endif %}

    {% if group.audit and not group.audit.complete %}
        <span class="label label-danger">AUDIT IN PROGRESS</span>
    {% endif %}
{% endblock %}

{% block headingbuttons %}
    <!-- Enable/Disable button. -->
    {% if current_user_role['is_owner'] %}
        {% if group.enabled %}
            <button id="disable-role-user" class="btn btn-danger" data-toggle="modal"
                    data-target="#disableModal">
                <i class="fa fa-minus"></i> Disable
            </button>
        {% else %}
            <button class="btn btn-warning" data-toggle="modal" data-target="#enableModal">
                <i class="fa fa-plus"></i> Enable
            </button>
        {% endif %}
    {% endif %}

    <!-- Approve members. -->
    <div class="btn-group">
        <a href="/groups/{{group.name}}/requests"
           class="btn btn-default"><i class="fa fa-list"></i> Requests</a>
        {% if current_user_role['is_approver'] and num_pending %}
            <a href="/groups/{{group.name}}/requests?status=pending"
               title="Pending Requests"
               class="btn btn-default btn-pending">{{ num_pending }}</a>
        {% endif %}
    </div>

    <!-- Show the join button if the user isn't an approver (since they can directly add)
         and the group isn't invite-only. -->
    {% if not current_user_role['is_approver'] and group.canjoin != "nobody" %}
    <a href="/groups/{{group.name}}/join"
       class="btn btn-success"><i class="fa fa-user"></i> Join</a>
    {% endif %}

    <!-- Add member or edit group -->
    {% if current_user_role['is_approver'] %}
        <a href="/groups/{{group.name}}/add"
           class="btn btn-success"><i class="fa fa-plus-circle"></i> Add Member</a>
        <a href="/groups/{{group.name}}/edit"
           class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
    {% endif %}

    {% if can_leave %}
        <a href="/groups/{{group.name}}/leave"
           class="btn btn-danger"><i class="fa fa-sign-out"></i> Leave</a>
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <blockquote><p>
            <em>{{group.description|default("", True)}}</em>
        </p></blockquote>
    </div>
    <div class="col-md-6">
        <h4>
            {% if audited %}
                <span class="label label-warning pull-right">
                    <i class="fa fa-gavel"></i> {{ help_for("audited_group", "Auditing Enabled") }}
                </span>
            {% endif %}
            {% if group.canjoin == "canjoin" %}
                <span class="label label-success pull-right">
                    <i class="fa fa-group"></i> Open Membership
                </span>
            {% else %}
                <span class="label label-info pull-right">
                    <i class="fa fa-group"></i> Requires Approval
                </span>
            {% endif %}
        </h4>
    </div>
</div>

<div class="row">
    <div class="col-md-7">
        {{ member_panel(group, members, current_user, current_user_role) }}
    </div>
    <div class="col-md-5">
        {{ group_panel(groups, current_user_role['role']) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ public_key_panel(user, public_keys, can_control) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ permission_panel(permissions, group=group, can_grant=grantable, is_member=current_user.is_member(members), pending_requests=permission_requests_pending, is_owner=current_user_role["is_owner"]) }}
    </div>
</div>
{% if can_control %}
    <div class="row">
        <div class="col-md-4">
            {{ tokens_panel(user, user_tokens, can_control) }}
        </div>
        <div class="col-md-4">
            {{ shell_panel(user, shell, can_control) }}
        </div>
        <div class="col-md-4">
            {{ passwords_panel(user, passwords, can_control) }}
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-12">
        {{ log_entry_panel(log_entries) }}
    </div>
</div>

<div class="modal fade" id="enableModal" tabindex="-1" role="dialog"
      aria-labelledby="enableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enable User</h4>
           </div>
            <form action="/users/{{user.username}}/enable" method="post">
                <div class="modal-body">
                    <p>Are you sure you want to enable this user?</p>
                    <label class="checkbox normal-weight">
                        <i>preserve any pre-existing group membership (you don't want this)</i>
                        <input type="checkbox" name="preserve_membership" value="true"/>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Enable</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="disableModal" tabindex="-1" role="dialog"
      aria-labelledby="disableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable User</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/users/{{user.username}}/disable" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeUserModal" tabindex="-1" role="dialog"
      data-group-name="{{group.groupname}}" aria-labelledby="removeUserModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Remove User</h4>
           </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to remove <span class="member-name"></span> from {{group.name}}?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form class="remove-member-form inline"
                      {# action is set dynamically in on("show.bs.modal") #}
                      action="#" method="post">
                    <input type="hidden" name="member" />
                    <input type="hidden" name="member_type" />
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Remove</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if group.audit and not group.audit.complete %}
{# TODO(herb): audit db calls in this block #}

<div class="modal fade" id="auditModal" tabindex="-1" role="dialog"
      aria-labelledby="auditModal" aria-hidden="true" data-show="{{ "true" if group.audit and not group.audit.complete and current_user_role['is_owner'] else "false" }}">
    <div class="modal-dialog">
        <form action="/audits/{{ group.audit.id }}/complete" method="post"
              class="inline">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Audit Group</h4>
            </div>
            <div class="modal-body">
                <p>
                    Your group has an outstanding audit that needs to be completed before
                    <strong>{{ group.audit.ends_at|print_date }}</strong>, giving you
                    {{ group.audit.ends_at|expires_when_str }} to complete the audit.
                </p>
                <table class="table table-striped table-condensed">
                    <thead>
                        <tr>
                            <th class="col-sm-4">Member</th>
                            <th class="col-sm-2">role</th>
                            <th class="col-sm-2">Audit Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for ami in audit_members_infos %}
                        <tr>
                            <td>{{ account(ami.member_obj) }}</td>
                            <td>{{ ROLES[ami.audit_member_role] }}</td>
                            <td>
                                {{ group_member_audit_status(current_user, ami.audit_member_obj, ami.member_obj, statuses) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Complete Audit</button>
            </div>
        </div>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
