{% extends "base.html" %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    Create Service Account
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create Service Account</h3>
           </div>

            <div class="panel-body" id="dropdown_form">
                <form class="form-horizontal" role="form"
                    method="post" action="/service/create">
                    {% include "forms/role-user-create.html" %}
                    <div class="form-shell">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
