{% extends "base.html" %}
{% from 'macros/ui.html' import paginator, dropdown with context %}

{% block subtitle %} search{% endblock %}

{% block heading %}
    Search
{% endblock %}

{% block subheading %}
    {{total}} Results
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", limit, [100, 250, 500]) }}
    {{ paginator(offset, limit, total) }}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2">Type</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr class="result-row">
                    <td class="result-type">{{result.type}}</td>
                    <td class="result-name">
                        {% if result.type == "Group" %}
                            <a href="/groups/{{result.name}}">{{result.name}}</a>
                        {% elif result.type == "Permission" %}
                            <a href="/permissions/{{result.name}}">{{result.name}}</a>
                        {% elif result.type == "User" %}
                            <a href="/users/{{result.name}}">{{result.name}}</a>
                        {% else %}
                            {{result.name}}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
