{% extends "base.html" %}
{% from 'macros/ui.html' import account, paginator, format_secret, dropdown with context %}
{% from 'macros/form.html' import form, form_modal %}

{% block heading %}
    Secrets
{% endblock %}

{% block subheading %}
    {{total}} secret(s)
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", limit, [100, 250, 500]) }}
    {{ paginator(offset, limit, total) }}
    {% for f in forms %}
      <button class="btn btn-success" data-toggle="modal" data-target="#createModal{{loop.index}}">
          <i class="fa fa-plus"></i> Create {{f.type.default}}
      </button>
    {% endfor %}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2">Name</th>
                    <th class="col-sm-4">Uses</th>
                    <th class="col-sm-2">Risk</th>
                    <th class="col-sm-2">Owner</th>
                </tr>
            </thead>
            <tbody>
            {% for secret in secrets %}
                <tr>
                    <td>{{ format_secret(secret) }}</td>
                    <td>{{ secret.uses|default("", True)|escape}}</td>
                    <td>{{ risks(secret.risk_level).name }}</td>
                    <td>{{ account(secret.owner.name, type="Group") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% for f in forms %}
    {{ form_modal("createModal{}".format(loop.index), "Create {}".format(f.type.default), "/secrets", "Submit", f, xsrf_form(), ["type"]) }}
{% endfor %}

{% endblock %}
