{% extends "base.html" %}
{% from 'macros/ui.html' import group_panel, member_panel, tag_permission_panel, log_entry_panel,
                                help_for, account, http_verb %}
{% from 'macros/form.html' import form_modal %}

{% block heading %}
    <a href="/secrets">Secrets</a>
{% endblock %}

{% block headingbuttons %}
    <!-- If user is an owner of this secret, allow them to edit -->
    {% if can_edit %}
      <button class="btn btn-success" data-toggle="modal" data-target="#editModal">
          <i class="fa fa-plus"></i> Edit
      </button>
      <button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
          <i class="fa fa-plus"></i> Delete
      </button>
    {% endif %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <blockquote><p>
            <em>{{secret.name|default("&nbsp;", True)|escape}}</em>
        </p></blockquote>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-elist">
            <thead>
                <tr>
                    {% for field in form._fields %}
                         <th class="col-sm-1">{{" ".join(field.split("_")).capitalize()}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for field in form._fields %}
                        <td>
                        {% if field == "type" %}
                            {{ form[field].default }}
                        {% elif field == "owner" %}
                            {{account(secret.owner.name, type="Group")}}
                        {% elif field == "risk_level" %}
                            {{risks(secret.risk_level).name}}
                        {% elif field == "distribution" or field == "datacenter" %}
                            {{ "; ".join(secret[field])|escape }}
                        {% else %}
                            {{secret[field]|escape}}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{ form_modal("editModal", "Edit Secret", "/secrets/{}".format(secret.name), "Submit", form, xsrf_form(), ["type"]) }}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
      aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Delete Secret</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this secret?</p>
                <form id="deleteForm" class="form-horizontal" role="form"
                    method="post" action="/secrets/{{secret.name}}">
                   {{ xsrf_form() }}
                   {{ http_verb("DELETE") }}
            </div>
            <div class="modal-footer">
                <button id="deleteFormSubmit" type="submit" class="btn btn-danger">
                    Delete
                </button>
            </div>
                </form>
        </div>
    </div>
</div>

{% endblock %}
