{% extends "base.html" %}
{% from 'macros/ui.html' import form_field -%}

{% block subtitle %} grant permission to {{service}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Grant Permission to {{service}}
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Grant Permission to {{service}}</h3>
        </div>
        <div class="panel-body">
            <form id="grant-permission-form" class="form-horizontal" role="form" method="post"
                  action="/groups/{{owner}}/service/{{service}}/grant">
                {{ form_field(form.permission, 3, 8, class_="form-control") }}
                {{ form_field(form.argument, 3, 8, class_="form-control") }}
                {{ xsrf_form()|safe }}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
