{% extends "base.html" %}
{% from "macros/ui.html" import form_field -%}

{% block subtitle %} create service account for {{owner}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Create Service Account for <a href="/groups/{{ owner }}">{{ owner }}</a>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create Service Account for Group</h3>
           </div>

            <div class="panel-body" id="dropdown_form">
                <form class="form-horizontal" id="new-service-account-form" role="form"
                    method="post" action="/groups/{{ owner }}/service/create">
                    {{ form_field(form.name, 3, 8, class_="form-control") }}
                    {{ form_field(form.description, 3, 8, class_="form-control", rows=5) }}
                    {{ form_field(form.machine_set, 3, 8, class_="form-control", rows=1) }}
                    {{ xsrf_form()|safe }}
                    <div class="form-shell">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
