{% extends "base.html" %}

{% block subtitle %} enable {{ user.username }}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Enable Service Account {{ user.username }}</a>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Enable Service Account {{ user.username }}</h3>
           </div>

            <div class="panel-body" id="dropdown_form">
                <form class="form-horizontal enable-service-account-form" role="form"
                      method="post" action="/service/{{ user.username }}/enable">
                    {% include "forms/service-account-enable.html" %}
                    <div class="form-shell">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
