{% extends "base.html" %}
{% from 'macros/ui.html' import log_entry_panel, tokens_panel, shell_panel, passwords_panel,
                                permission_link, public_key_panel, addl_metadata_panel,
                                unset_metadata_panel %}

{% macro permission_panel(mappings, group, user, can_manage) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Permissions</h3>
        </div>
        <div class="standard-panel">
            <table class="{% if mappings %}datatable {% endif %}table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2">Permission</th>
                        <th class="col-sm-2">Argument</th>
                        <th class="col-sm-2">Granted</th>
                        {% if can_manage %}
                            <th class="col-sm-2"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for map in mappings %}
                    <tr class="permission-row">
                        <td class="permission-name">{{ permission_link(map) }}</td>
                        <td class="col-sm-2 permission-argument">
                            {{ map.argument|default("(unargumented)", True) }}
                        </td>
                        <td class="col-sm-2" title="{{ map.granted_on|print_date }}">
                            {{ map.granted_on|long_ago_str }}
                        </td>
                        {% if can_manage %}
                            <td class="col-sm-2">
                                <button class="btn btn-danger btn-xs permission-revoke"
                                        data-toggle="modal"
                                        data-target="#revokeModal"
                                        data-group="{{group.name}}"
                                        data-user="{{user.username}}"
                                        data-mapping-id="{{map.grant_id}}">
                                    <span class="glyphicon glyphicon-remove glyphicon-vertical-adjust"></span> Revoke
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                {% if not mappings %}
                    <tr>
                        <td colspan="5" class="text-center">
                            <em>No permissions found.</em>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
        <div class='panel-footer'>
            <a id="add-permission" class="btn btn-default btn-sm"
               href="/groups/{{group.name}}/service/{{user.username}}/grant">
                <span class="glyphicon glyphicon-plus"></span> Add Permission
            </a>
        </div>
    </div>
{%- endmacro %}

{% block subtitle %} service account {{user.username}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Service Account: {{user.username}}
    {% if not user.enabled %}<small>(disabled)</small>{% endif %}
{% endblock %}

{% block headingbuttons %}
    {% if user.enabled and can_disable %}
        <button class="btn btn-danger disable-service-account" data-toggle="modal"
                data-target="#disableModal">
            <i class="fa fa-minus"></i> Disable
        </button>
    {% elif not user.enabled and can_enable %}
        <a class="btn btn-warning enable-service-account"
           href="/service/{{ user.username }}/enable">
            <i class="fa fa-plus"></i> Enable
        </a>
    {% endif %}
    {% if can_control %}
        <a href="/groups/{{ group.name }}/service/{{ user.username }}/edit"
           class="btn btn-primary edit-service-account"><i class="fa fa-edit"></i> Edit
        </a>
    {% endif %}
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">
        <blockquote><p>
            <em id="description">{{account.description|default("", True)}}</em>
        </p></blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Metadata</h3>
            </div>
            <table class="table">
                <tr>
                    <td><strong>Owner</strong></td>
                    <td id="owner"><a href="/groups/{{ group.name }}">{{ group.name }}</a></td>
                </tr>
                <tr>
                    <td><strong>Machine Set</strong></td>
                    <td id="machine-set">{{ account.machine_set }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ permission_panel(permissions, group, user, can_control) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ public_key_panel(user, public_keys, can_control) }}
    </div>
</div>
{% if can_control %}
    <div class="row">
        <div class="col-md-4">
            {{ tokens_panel(user, user_tokens, can_control) }}
        </div>
        <div class="col-md-4">
            {{ shell_panel(user, shell, can_control) }}
        </div>
        <div class="col-md-4">
            {{ passwords_panel(user, passwords, can_control) }}
        </div>
    </div>
{% endif %}

{% if addl_metadata %}
    <div class="row">
        {% for metadata in addl_metadata %}
        <div class="col-md-4">
            {{ addl_metadata_panel(user, metadata, can_control) }}
        </div>
        {% endfor %}
    </div>
{% endif %}

{% if unset_metadata %}
    <div class="row">
        {% for key in unset_metadata %}
        <div class="col-md-4">
            {{ unset_metadata_panel(user, key, can_control) }}
        </div>
        {% endfor %}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-12">
        {{ log_entry_panel(log_entries) }}
    </div>
</div>

<div class="modal fade" id="disableModal" tabindex="-1" role="dialog"
      aria-labelledby="disableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable Service Account</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable this service account?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/groups/{{ group.name }}/service/{{user.username}}/disable"
                      method="post" class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="revokeModal" tabindex="-1" role="dialog"
      aria-labelledby="revokeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Revoke Permission</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to revoke this service account permission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form class="revoke-permission-form"
                      {# action is set dynamically in on("show.bs.modal") #}
                      action="#" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Revoke</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
