{% extends "base.html" %}

{% block subtitle %} edit {{service_account.user.username}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Edit {{service_account.user.username}}
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Edit Service Account {{service_account.user.username}}</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" id="edit-service-account-form"
                  method="post" action="/groups/{{group.name}}/service/{{service_account.user.username}}/edit">
                {% include "forms/service-account-edit.html" %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
