{% extends "base.html" %}

{% block subtitle %} create service account for {{owner}}{% endblock %}

{% block heading %}
    <a href="/groups">Groups</a>
{% endblock %}

{% block subheading %}
    Create Service Account for <a href="/groups/{{ owner }}">{{ owner }}</a>
{% endblock %}

{% block content %}
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create Service Account for Group</h3>
           </div>

            <div class="panel-body" id="dropdown_form">
                <form class="form-horizontal" id="new-service-account-form" role="form"
                    method="post" action="/groups/{{ owner }}/service/create">
                    {% include "forms/service-account-create.html" %}
                    <div class="form-shell">
                        <div class="col-sm-offset-3 col-sm-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}
