{% extends "base.html" %}
{% from 'macros/ui.html' import account, paginator, dropdown with context %}

{% block heading %}
    {% if not enabled %}
      Disabled
    {% endif %}
    Users
{% endblock %}

{% block subheading %}
    {{total}} user{% if total > 1 %}s{% endif %}
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", limit, [100, 250, 500, 1000]) }}
    {{ paginator(offset, limit, total) }}
    {% if enabled %}
      <a class="btn btn-default" href="/users?limit={{limit}}&enabled=0">
          <i class="fa"></i> Show disabled users
      </a>
    {% else %}
      <a class="btn btn-default" href="/users?limit={{limit}}&enabled=1">
          <i class="fa"></i> Show enabled users
      </a>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2">Username</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ account(user) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
