{% extends "base.html" %}

{% block subtitle %} change shell for {{user.name}}{% endblock %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    Change Shell for User {{ user.name }}
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Change shell for User {{ user.name }}</h3>
       </div>

        <div class="panel-body" id="dropdown_form">
            <form class="form-horizontal" role="form"
                method="post" action="/users/{{ user.name }}/shell">
                {% include "forms/user-shell.html" %}
                <div class="form-shell">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}
