{% extends "base.html" %}

{% block subtitle %} token disabled{% endblock %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    Token disabled
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Token disabled</h3>
       </div>
        <div class="panel-body">
            <p>The token <code>{{token}}</code> has been disabled.</p>
        </div>
    </div>
</div>
{% endblock %}
