{% extends "base.html" %}
{% from 'macros/ui.html' import account, paginator, one_user_token_row, dropdown with context %}

{% block subtitle %} user tokens{% endblock %}

{% block heading %}
    {% if not form.enabled.data %}
      Disabled
    {% endif %}
    User Tokens
{% endblock %}

{% block subheading %}
    {{ total }} token{% if total > 1 %}s{% endif %}
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", form.limit.data, [100, 250, 500, 1000]) }}
    {{ paginator(form.offset.data, form.limit.data, total) }}
    {% if form.enabled.data %}
    <a class="btn btn-default" href="/users/tokens?limit={{form.limit.data}}&enabled=0" role="button">
          <i class="fa"></i> Show disabled users
      </a>
    {% else %}
    <a class="btn btn-default" href="/users/tokens?limit={{form.limit.data}}&enabled=1" role="button">
          <i class="fa"></i> Show enabled users
      </a>
    {% endif %}

{% endblock %}

{% macro sort_header(label, sort_by) -%}
{% if form.sort_by.data == sort_by %}
{{ label }}
{% else %}
<a class="white" href="?sort_by={{ sort_by }}">{{ label }}</a>
{% endif %}
{%- endmacro %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2">{{ sort_header("Username", "user") }}</th>
                    <th class="col-sm-2">{{ sort_header("Token name", "name") }}</th>
                    <th class="col-sm-1">{{ sort_header("Age", "age") }}</th>
                    <th class="col-sm-1">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for token, user in user_token_list %}
                <tr>
                    <td>{{ account(user) }}</td>
                    {{ one_user_token_row(token, user.name, True) }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
