{% extends "base.html" %}

{% block subtitle %} delete password{% endblock %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    Delete Password
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Delete Password</h3>
       </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form"
                  method="post" action="/users/{{user.name}}/passwords/{{ password.id }}/delete">
                <div class="form-group text-center">
                    Delete password with name <strong>{{ password.name }}</strong>?
                </div>
                {{ xsrf_form()|safe }}
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Delete password</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
