{% extends "base.html" %}

{% block subtitle %} add password{% endblock %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    Add Password
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Add Password</h3>
       </div>
        <div class="panel-body">
            <p>
                User passwords are used by some other applications to verify your identity.
            </p>
            <p>
                Providing a user password to an application will <strong>allow it to perform any action
                as you</strong>, so they should only be provided with trusted applications. For
                example, scripts you wrote yourself, or have been approved by your organization's
                IT and security teams.
            </p>
            <form class="form-horizontal" role="form"
                  method="post" action="/users/{{user.name}}/passwords/add">
                {% include "forms/user-password.html" %}
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-4">
                        <button type="submit" class="btn btn-primary">Add Password</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
