{% extends "base.html" %}
{% from 'macros/ui.html' import account, paginator, dropdown with context %}

{% block heading %}
    Users
{% endblock %}

{% block subheading %}
    {{total}} users(s)
{% endblock %}

{% block headingbuttons %}
    {{ dropdown("limit", limit, [100, 250, 500]) }}
    {{ paginator(offset, limit, total) }}
{% endblock %}

{% block content %}
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-elist">
            <thead>
                <tr>
                    <th class="col-sm-2">Username</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ account(user) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
