{% extends "base.html" %}
{% from 'macros/ui.html' import group_panel, public_key_panel, permission_panel, log_entry_panel %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    {{user.username}}
    {% if user.role_user %}<small>(role)</small>{% endif %}
    {% if not user.enabled %}<small>(disabled)</small>{% endif %}
{% endblock %}

{% block headingbuttons %}
    {% if current_user.user_admin %}
        {% if user.enabled %}
            <button class="btn btn-danger" data-toggle="modal" data-target="#disableModal">
                <i class="fa fa-minus"></i> Disable
            </button>
        {% elif not user.enabled %}
            <button class="btn btn-warning" data-toggle="modal" data-target="#enableModal">
                <i class="fa fa-plus"></i> Enable
            </button>
        {% endif %}
    {% endif %}
    {% if current_user.id == user.id %}
    <div class="btn-group">
        <a href="/user/requests" title="Pending Requests"
           class="btn btn-default"><i class="fa fa-list"></i> Requests</a>
        <a href="/user/requests" title="Pending Requests"
           class="btn btn-default btn-pending">{{ num_pending_requests }}</a>
    </div>
    {% endif %}
{% endblock %}

{% macro open_audits_panel(max_height, open_audits) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Open Audits</h3>
        </div>
        <div style="max-height: {{max_height}}px; overflow-y: auto">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2">Group</th>
                        <th class="col-sm-2">Begun At</th>
                        <th class="col-sm-3">Due Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for open_audit in open_audits %}
                    <tr>
                        <td><a href="/groups/{{ open_audit.groupname }}">
                                {{ open_audit.groupname }}</a></td>
                        <td>{{ open_audit.started_at|print_date }}</td>
                        <td>
                            {{ open_audit.ends_at }} ({{ open_audit.ends_at|expires_when_str }})
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if group and can_grant %}
        <div class='panel-footer'>
            <a class="btn btn-default btn-sm" href="/permissions/grant/{{ group.name }}">
            <span class="glyphicon glyphicon-plus"></span> Add Permission
            </a>
        </div>
        {% endif %}
    </div>
{%- endmacro %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        {{ group_panel(390, groups, True) }}
    </div>
    {% if open_audits and current_user.id == user.id %}
    <div class="col-md-7">
        {{ open_audits_panel(390, open_audits) }}
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-12">
        {{ public_key_panel(390, user, public_keys, can_control) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ permission_panel(390, permissions) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ log_entry_panel(390, log_entries) }}
    </div>
</div>

<div class="modal fade" id="enableModal" tabindex="-1" role="dialog"
      aria-labelledby="enableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enable Group</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to enable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/users/{{user.id}}/enable" method="post"
                      style="display: inline;">
                    {{ xsrf_form() }}
                    <button type="submit" class="btn btn-primary">Enable</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="disableModal" tabindex="-1" role="dialog"
      aria-labelledby="disableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable Group</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/users/{{user.id}}/disable" method="post"
                      style="display: inline;">
                    {{ xsrf_form() }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
