{% extends "base.html" %}

{% from 'macros/ui.html' import group_panel, permission_panel, log_entry_panel, tokens_panel,
                                shell_panel, passwords_panel, github_panel %}
{% from 'macros/ui.html' import public_key_panel with context %}

{% block subtitle %} user {{user.username}}{% endblock %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    {{user.username}}
    {% if user.role_user %}<small>(service)</small>{% endif %}
    {% if not user.enabled %}<small>(disabled)</small>{% endif %}
{% endblock %}

{% block headingbuttons %}

    {% if user.enabled and can_disable %}
        <button class="btn btn-danger disable-user" data-toggle="modal" data-target="#disableModal">
            <i class="fa fa-minus"></i> Disable
        </button>
    {% elif not user.enabled and can_enable %}
        <button class="btn btn-warning enable-user" data-toggle="modal" data-target="#enableModal">
            <i class="fa fa-plus"></i> Enable
        </button>
    {% endif %}
    {% if current_user.id == user.id %}
    <div class="btn-group">
        <a href="/user/requests" title="Pending Group Membership Requests"
           class="btn btn-default"><i class="fa fa-list"></i> Group Requests</a>
        <a href="/user/requests" title="Pending Group Membership Requests"
           class="btn btn-default btn-pending">{{ num_pending_group_requests }}</a>
    </div>
    <div class="btn-group">
        <a href="/permissions/requests?status=pending" title="Pending Permission Requests"
           class="btn btn-default"><i class="fa fa-list"></i> Permission Requests</a>
        <a href="/permissions/requests?status=pending" title="Pending Permission  Requests"
           class="btn btn-default btn-pending">{{ num_pending_perm_requests }}</a>
    </div>
    {% endif %}
{% endblock %}

{% macro open_audits_panel(open_audits) -%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Open Audits</h3>
        </div>
        <div class="standard-panel">
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="col-sm-2">Group</th>
                        <th class="col-sm-2">Begun At</th>
                        <th class="col-sm-3">Due Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for open_audit in open_audits %}
                    <tr>
                        <td><a href="/groups/{{ open_audit.groupname }}">
                                {{ open_audit.groupname }}</a></td>
                        <td>{{ open_audit.started_at|print_date }}</td>
                        <td>
                            {{ open_audit.ends_at }} ({{ open_audit.ends_at|expires_when_str }})
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% if group and can_grant %}
        <div class='panel-footer'>
            <a class="btn btn-default btn-sm" href="/permissions/grant/{{ group.name }}">
            <span class="glyphicon glyphicon-plus"></span> Add Permission
            </a>
        </div>
        {% endif %}
    </div>
{%- endmacro %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        {{ group_panel(groups, True) }}
    </div>
    {% if open_audits and current_user.id == user.id %}
    <div class="col-md-7">
        {{ open_audits_panel(open_audits) }}
    </div>
    {% endif %}
</div>
<div class="row">
    <div class="col-md-12">
        {{ public_key_panel(user, public_keys, can_control) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ permission_panel(permissions) }}
    </div>
</div>
{% if can_control %}
    <div class="row">
        <div class="col-md-4">
            {{ tokens_panel(user, user_tokens, can_control) }}
        </div>
        <div class="col-md-4">
            {{ shell_panel(user, shell, can_control) }}
        </div>
        <div class="col-md-4">
            {{ passwords_panel(user, passwords, can_control) }}
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="col-md-4">
        {{ github_panel(user, github_username, xsrf_form(), can_control) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ log_entry_panel(log_entries) }}
    </div>
</div>

<div class="modal fade" id="enableModal" tabindex="-1" role="dialog"
      aria-labelledby="enableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Enable User</h4>
           </div>
            <form action="/users/{{user.username}}/enable" method="post">
                <div class="modal-body">
                    <p>Are you sure you want to enable this user?</p>
		    {% if can_enable_preserving_membership %}
                    <label class="checkbox" class="normal-weight">
                        <i>preserve any pre-existing group membership (you don't want this)</i>
                        <input type="checkbox" name="preserve_membership" value="true"/>
                    </label>
		    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">Close</button>
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Enable</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="disableModal" tabindex="-1" role="dialog"
      aria-labelledby="disableModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Disable User</h4>
           </div>
            <div class="modal-body">
                <p>Are you sure you want to disable this user?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Close</button>
                <form action="/users/{{user.username}}/disable" method="post"
                      class="inline">
                    {{ xsrf_form()|safe }}
                    <button type="submit" class="btn btn-primary">Disable</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
