{% extends "base.html" %}

{% block subtitle %} disable token{% endblock %}

{% block heading %}
    <a href="/users">Users</a>
{% endblock %}

{% block subheading %}
    Disable token
{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Disable token</h3>
       </div>
        <div class="panel-body">
            <form class="form-horizontal" role="form"
                  method="post" action="/users/{{user.name}}/tokens/{{ token.id }}/disable">
                <div class="form-group text-center">
                    Disable token with name <strong>{{ token.name }}</strong>?
                </div>
                {{ xsrf_form()|safe }}
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary">Disable token</button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
