{% extends "email/base_html.tmpl" %}

{% block subject %}Group Membership Audit{% endblock %}

{% block content %}

<p><strong>This is a reminder, you have <u>{{days_left}}</u> day(s) left in the auditing period
for your group.</strong></p>

<p>The <strong>{{ group }}</strong> group is part of an ongoing audit. As you are an owner of this
group, you must visit the management page and process the audit:</p>

<p><a href="{{url}}/groups/{{group}}">Process the audit.</a></p>

<p>This is due by <strong>{{ ends_at }}</strong>.</p>

<p>Thank you for your prompt attention!</p>

{% endblock %}