<!DOCTYPE html>
<html>

<body>
<div>
    <strong>Grouper - {% block subject %}Notification{% endblock %}</strong>
</div>

<div>
    {% block content %}{% endblock %}
</div>

<div>
    --<br />
    Your friendly Grouper robot
</div>
</body>
</html>