{% extends "email/base_text.tmpl" %}

{% block subject %}Membership Request{% endblock %}

{% block content %}
{{ requester }} has requested to join {{ group_name }}.

    Role: {{ role }}
    Expiration: {{ expiration|expires_when_str }}
    Reason: {{ reason|escape }}

Take action:
    {{url}}/groups/{{group_name}}/requests/requests/{{ request_id }}

{% if requester != requested_by %}This request was made by {{ requested_by }}.{% endif %}
{% endblock %}
