{% extends "email/base_html.tmpl" %}

{% block subject %}Membership Request{% endblock %}

{% block content %}

<b>{{ requester }}</b> has requested membership to <b>{{ requested }}</b>{% if requester != requested_by %}<i> by {{ requested_by }}</i>{% endif %}.

{% endblock %}