{% extends "email/base_text.tmpl" %}

{% block subject %}Membership Request{% endblock %}

{% block content %}

{{ requester }} has requested membership to {{ requested }}{% if requester != requested_by %} by {{ requested_by }}{% endif %}.

{% endblock %}