{% extends "email/base_text.tmpl" %}

{% block subject %}Permission Grant Request{% endblock %}

{% block content %}

{{ user_name }} has requested a permission be granted to the group {{ group_name }}.

More details about the request:

    Permission: {{ permission_name }}
    Argument: {{ argument|escape }}
    Reason: {{ reason|escape }}

Take action on this request:

    {{ url }}/permissions/requests/{{ request_id }}

All pending requests:

    {{ url }}/permissions/requests?status=pending

{% endblock %}
