{% extends "email/base_text.tmpl" %}

{% block subject %}Membership Request{% endblock %}

{% block content %}
{{ requester }} has requested to join {{ requested }}. To action this request, please visit the
pending requests queue:

    {{url}}/groups/{{requested}}/requests?status=pending

More details about the request:

    Role: {{ role }}
    Expiration: {{ expiration|expires_when_str }}
    Reason: {{ reason|escape }}

{% if requester != requested_by %}This request was made by {{ requested_by }}.{% endif %}
{% endblock %}
