{% extends "email/base_html.tmpl" %}

{% block subject %}Added to Group{% endblock %}

{% block content %}

<p>You have been added to the group
<strong><a href="{{url}}/groups/{{requested}}">{{ group }}</a></strong>
by {{ actioned_by }}.</p>

<p>More details about the request:</p>

<ul>
    <li><strong>Role:</strong> {{ role }}</li>
    <li><strong>Expiration:</strong> {{ expiration|expires_when_str }}</li>
    <li><strong>Reason:</strong> {{ reason|escape }}</li>
</ul>

{% endblock %}
