common:
    # Takes a SqlAlchemy URL to the database. More details
    # can be found at the following URL:
    # http://docs.sqlalchemy.org/en/rel_0_9/core/engines.html#database-urls
    #
    # Type: str
    database: "sqlite:///grouper.sqlite"

    # If this exists, it should be the path to an executable that Grouper will run. This program
    # should print a single SqlAlchemy URL and exit 0.
    #
    # Type: str
    database_source: ""

    # Format for logging output.
    # See https://docs.python.org/2/library/logging.html#logrecord-attributes
    # Type: str
    log_format: "%(asctime)-15s\t%(levelname)s\t%(message)s  [%(name)s]"

    # Directories for plugins. If set, load plugins from these directories. Plugins can affect the
    # behavior of Grouper.
    # Type: list of str
    plugin_dirs: []

    # Module paths for plugins to load from.
    # Type: list of str
    plugin_module_paths:
    - plugins.group_ownership_policy
    - plugins.ssh_key_policy

    # Directories for one-offs. If set, load oneoffs from these directories which
    # are run via grouper-ctl.
    # Type: list of str
    oneoff_dirs: []

    # Module paths for one-offs to load from.
    # Type: list of str
    oneoff_module_paths:
    - oneoffs.refresh_public_keys
    - oneoffs.check_public_keys

    # Name of permissions for which we restrict ownership calculations to
    # exclude wildcard ownership if any non-wildcard owners are avaiable.
    # Type: list of str
    restricted_ownership_permissions:

    # Whether to send notification e-mails.
    # Type: bool
    send_emails: false

    # Server to use to send notification e-mails.
    # Type: str
    smtp_server: "localhost"

    # Whether to connect to the SMTP server using TLS
    # Type: bool
    smtp_use_ssl: false

    # Username to use for logging in to the SMTP server
    # You should probably not use this unless smtp_use_ssl is true
    # Leave blank if you want to not authenticate to the SMTP server
    # Type: str
    smtp_username: ""

    # Password to use for logging in to the SMTP server
    # You should probably not use this unless smtp_use_ssl is true
    # Type: str
    smtp_password: ""

    # Address to send email from
    # Type: str
    from_addr: "no-reply@grouper.local"

    # Number of days for approvers of audited groups who are not auditors to become auditors
    # before being expired out of the group
    # Type: int
    nonauditor_expiration_days: 5

    # Url is the location of the Grouper homepage, no trailing slash. This should include a
    # port if one is needed.
    # Type: str
    url: "http://127.0.0.1:8888"

fe:
    # Number of worker processes to fork for receving requests. This option
    # is mutually exclusive with debug.
    # Type: int
    num_processes: 1

    # The port to listen to requests on.
    # Type: int
    port: 8989

    # The IP address to listen to requests on, or leave empty to listen to
    # all addresses.
    # Type: str
    address: "127.0.0.1"

    # All traps are stored in the database in UTC. This option chooses the
    # timezone for displaying datetime values.
    # Type: str
    timezone: "America/Los_Angeles"

    # The format in which to display dates in the interface. More details here:
    # https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior
    # Type: str
    date_format: "%Y-%m-%d %I:%M %p"

    # Passing debug option down tornado. Useful for development to
    # automatically reload code.
    # Type: bool
    debug: true

    # This is the prefix url in template to cdnjs. This allows you to point at
    # and internal mirror for production deployments.
    # Type: str
    cdnjs_prefix: "//cdnjs.cloudflare.com"

    # Header to check for Authenticated Username
    # Type: str
    user_auth_header: "X-Grouper-User"

    # How often to pull cache data from database in seconds.
    # Type: int
    refresh_interval: 1

    # How to get help from the people who run this Grouper deployment.
    # Type: str
    how_to_get_help: "not arranged"

    # Help text given when a dropdown permission argument is available in
    # permission request. This is probably help around how this dropdown was
    # populated and how to get what the user wants if they don't see it as an
    # option.
    # Type: str
    permission_request_dropdown_help:

    # Site-specific docs.
    # Type: list of maps giving url, name, and description strings.
    site_docs:

    # Sentry DSN for logging exceptions
    # Type: str
    sentry_dsn:

    # Url is the location of the Grouper homepage, no trailing slash. This should include a
    # port if one is needed.
    # Type: str
    url: "http://127.0.0.1:8888"

    # A list of lists of the shells that users are allowed to select. The first argument is
    # the shell location (i.e. /bin/bash), and the second is a user readable format for the
    # shell
    shell:
        - [/bin/false, Your administrator has not configured Grouper for shell management]

    # The email domain that all service accounts must have
    # Type: str
    service_account_email_domain: "svc.localhost"

api:
    # The port to listen to requests on.
    # Type: int
    port: 8990

    # The IP address to listen to requests on, or leave empty to listen to
    # all addresses.
    # Type: str
    address: "127.0.0.1"

    # Passing debug option down tornado. Useful for development to
    # automatically reload code.
    # Type: bool
    debug: true

    # How often to pull cache data from database in seconds.
    # Type: int
    refresh_interval: 10

    # Sentry DSN for logging exceptions
    # Type: str
    sentry_dsn:

    # Url is the location of the Grouper homepage, no trailing slash. This should include a
    # port if one is needed.
    # Type: str
    url: "http://127.0.0.1:8888"
