common:
    # Takes a SqlAlchemy URL to the database. More details
    # can be found at the following URL:
    # http://docs.sqlalchemy.org/en/rel_0_9/core/engines.html#database-urls
    #
    # Type: str
    database: "sqlite:///grouper.sqlite"

    # If this exists, it should be the path to an executable that Grouper will run. This program
    # should print a single SqlAlchemy URL and exit 0.
    #
    # Type: str
    database_source: ""

    # Format for logging output.
    # See https://docs.python.org/2/library/logging.html#logrecord-attributes
    # Type: str
    log_format: "%(asctime)-15s\t%(levelname)s\t%(message)s"

    # Directory for plugins. If set, load plugins from this directory. Plugins can affect the
    # behavior of Grouper.
    # Type: str
    plugin_dir: ""

    # Whether to send notification e-mails.
    # Type: bool
    send_emails: false

    # Server to use to send notification e-mails.
    # Type: str
    smtp_server: "localhost"

    # Address to send email from
    # Type: str
    from_addr: "no-reply@grouper.local"

fe:
    # Number of worker processes to fork for receving requests. This option
    # is mutually exclusive with debug.
    # Type: int
    num_processes: 1

    # The port to listen to requests on.
    # Type: int
    port: 8989

    # All traps are stored in the database in UTC. This option chooses the
    # timezone for displaying datetime values.
    # Type: str
    timezone: "America/Los_Angeles"

    # The format in which to display dates in the interface. More details here:
    # https://docs.python.org/2/library/datetime.html#strftime-and-strptime-behavior
    # Type: str
    date_format: "%Y-%m-%d %I:%M %p"

    # Passing debug option down tornado. Useful for development to
    # automatically reload code.
    # Type: bool
    debug: true

    # This is the prefix url in template to cdnjs. This allows you to point at
    # and internal mirror for production deployments.
    # Type: str
    cdnjs_prefix: "//cdnjs.cloudflare.com"

    # Url is the location of the Grouper homepage, no trailing slash. This should include a
    # port if one is needed.
    # Type: str
    url: "http://127.0.0.1:8888"

    # Header to check for Authenticated Username
    # Type: str
    user_auth_header: "X-Grouper-User"

    # How often to pull cache data from database in seconds.
    # Type: int
    refresh_interval: 1

    # How to get help from the people who run this Grouper deployment.
    # Type: str
    how_to_get_help: "not arranged"

    # Site-specific docs.
    # Type: list of maps giving url, name, and description strings.
    site_docs:

api:
    # The port to listen to requests on.
    # Type: int
    port: 8990

    # Passing debug option down tornado. Useful for development to
    # automatically reload code.
    # Type: bool
    debug: true

    # How often to pull cache data from database in seconds.
    # Type: int
    refresh_interval: 10
